Source: mink-optee-client
Maintainer: Abhinaba Rakshit <abhinaba.rakshit@oss.qualcomm.com>
Standards-Version: 4.6.2
Section: libs
Priority: optional
Rules-Requires-Root: no
Build-Depends: debhelper-compat (= 13), cmake, libminkipc-dev
Homepage: https://github.com/OP-TEE/optee_client
Vcs-Browser: https://salsa.debian.org/debian/optee-client
Vcs-Git: https://salsa.debian.org/debian/optee-client.git

Package: libckqteec0
Architecture: arm64
Section: libs
Description: Qualcomm PKCS#11 client library for QTEE
 This package provides libckqteec, a Qualcomm-adapted build of the upstream
 OP-TEE PKCS#11 TEE client library. It is built against the Qualcomm MinkIPC
 transport layer (libminkteec, libminkadaptor) and is designed to communicate
 with the Qualcomm Trusted Execution Environment (QTEE).
 .
 This package contains the libckqteec shared library.
Depends: ${misc:Depends}, ${shlibs:Depends}

Package: mink-optee-client-dev
Architecture: arm64
Section: libdevel
Description: Qualcomm PKCS#11 client library for QTEE - development files
 This package provides libckqteec, a Qualcomm-adapted build of the upstream
 OP-TEE PKCS#11 TEE client library. It is built against the Qualcomm MinkIPC
 transport layer (libminkteec, libminkadaptor) and is designed to communicate
 with the Qualcomm Trusted Execution Environment (QTEE).
 .
 This package contains the development files for libckqteec library.
Depends: libckqteec0 (= ${binary:Version}), ${misc:Depends}
